<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>外卖</key>
	<array>
		<dict>
			<key>title</key>
			<string>麦当劳</string>
			<key>phone</key>
			<string>10086</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>75</integer>
			<key>icon</key>
			<string>property_icon_test</string>
			<key>description</key>
			<string>须知\n1,不同地区有差异</string>
			<key>assess</key>
			<array>
				<dict>
					<key>name</key>
					<string>你二大爷</string>
					<key>icon</key>
					<string>usercenter_img_headportrait</string>
					<key>desc</key>
					<string>不愧是顺丰</string>
					<key>time</key>
					<string>09-15</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>肯德基</string>
			<key>phone</key>
			<string>10085</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>20</integer>
			<key>icon</key>
			<string>property_icon_test</string>
			<key>description</key>
			<string>须知\n1,不同地区有差异</string>
			<key>assess</key>
			<array>
				<dict>
					<key>name</key>
					<string>你二大爷</string>
					<key>icon</key>
					<string></string>
					<key>desc</key>
					<string>不愧是顺丰</string>
					<key>time</key>
					<string>09-15</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>圣杰士</string>
			<key>phone</key>
			<string>10010</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>50</integer>
			<key>icon</key>
			<string>property_icon_test</string>
			<key>description</key>
			<string>须知\n1,不同地区有差异</string>
			<key>assess</key>
			<array>
				<dict>
					<key>name</key>
					<string>你二大爷</string>
					<key>icon</key>
					<string></string>
					<key>desc</key>
					<string>不愧是顺丰</string>
					<key>time</key>
					<string>09-15</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>生活配送</key>
	<array>
		<dict>
			<key>title</key>
			<string>麦当劳</string>
			<key>phone</key>
			<string>10086</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>75</integer>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>肯德基</string>
			<key>phone</key>
			<string>10085</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>20</integer>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>圣杰士</string>
			<key>phone</key>
			<string>10010</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>50</integer>
			<key>icon</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
