<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>外卖</key>
	<array>
		<dict>
			<key>title</key>
			<string>麦当劳</string>
			<key>phone</key>
			<string>10086</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>75</integer>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>肯德基</string>
			<key>phone</key>
			<string>10085</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>20</integer>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>圣杰士</string>
			<key>phone</key>
			<string>10010</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>50</integer>
			<key>icon</key>
			<string></string>
		</dict>
	</array>
	<key>生活配送</key>
	<array>
		<dict>
			<key>title</key>
			<string>麦当劳</string>
			<key>phone</key>
			<string>10086</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>75</integer>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>肯德基</string>
			<key>phone</key>
			<string>10085</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>20</integer>
			<key>icon</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>圣杰士</string>
			<key>phone</key>
			<string>10010</string>
			<key>comments</key>
			<integer>0</integer>
			<key>phonenum</key>
			<integer>50</integer>
			<key>icon</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
