<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>payment</key>
	<array>
		<dict>
			<key>name</key>
			<string>天鹅湾1#1104</string>
			<key>list</key>
			<array>
				<dict>
					<key>name</key>
					<string>物业费</string>
					<key>list</key>
					<array>
						<dict>
							<key>name</key>
							<string>物业费</string>
							<key>fromtime</key>
							<string>2014-11-18</string>
							<key>totime</key>
							<string>2014-12-18</string>
							<key>price</key>
							<string>500</string>
							<key>id</key>
							<string>201410111110011101</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>records</key>
			<array>
				<dict>
					<key>name</key>
					<string>物业费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>学杂费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>水费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>电费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>停车费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>伙食费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>保护费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
				<dict>
					<key>name</key>
					<string>物业费</string>
					<key>fromtime</key>
					<string>2014-11-18</string>
					<key>totime</key>
					<string>2014-12-18</string>
					<key>price</key>
					<string>500</string>
					<key>id</key>
					<string>201410111110011101</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
